* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
section {
  margin-top: 65px;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
a:visited {
color: inherit;
  
}
a {
text-decoration: none;
}


/* Heder */

.header__top {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__section-left,
.header__section-richt {
  display: flex;
  align-items: center;
}

.heder-logo {
  margin-left: 24px;
  margin-right: 40px;
}
.heder-logo #logo-r {
  display: none;
}

.input-wrapper {
  flex-grow: 1;
  height: 42px;
  padding: 0 10px;
  width: 100%;
}
#search_events {
  padding: 13px 24px 13px 37px;
  /* gap: 0px; */
  border-radius: 8px 0px 0px 8px;
  /* border: 1px 0px 0px 0px; */
  border: 1px solid #d9d9d9;
  background-image: url("./img/svg/lupa.svg");
  background-repeat: no-repeat;
}
#search_city {
  padding: 13px 9px 13px 17px;
  border: 1px solid #d9d9d9;
}
.blue-btn {
  width: 84px;
  height: 36px;
  padding: 8px 15.8px 8px 16px;
  gap: 0px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  background-color: #00798a;
  color: #ffffff;
  margin-right: 50px;
  margin-left: 22px;
}
.login {
  width: 42px;
  height: 20px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
  border: none;
  margin-left: 22px;
  background-color: #fff;
}
.lang {
  display: flex;
  width: 72.97px;
  height: 20px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
  border: none;
    background-color: #fff;

}

/* Hiro */

.hero-container {
  display: flex;
  column-gap: 45px;
  align-items: center;
}
.hero__text {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 23px;
}
#hero-img {
  width: 379px;
  height: 269px;
}
.hiro-btn {
  width: 125px;
  height: 40px;
  padding: 8px 15.8px 8px 16px;
  gap: 0px;
  border-radius: 8px;
  border: none;
  opacity: 0px;
  font-size: 16px;
  line-height: 24px;
  background-color: #00798a;
  color: #ffffff;
}

/* Events */

.link__container {
  display: flex;
  justify-content: space-between;
}
.events__grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-top: 23px;
}
.grid-element .grid-img {
  width: 100%;
  margin-bottom: 11px;
}
.grid-element p {
  display: flex;
  margin-top: 12px;
}

/* Upcoming */

.upcoming__heder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.upcoming__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

/* Join Meetup */

.join__content {
  display: flex;
  background: #97cad114;
}
.join__text {
  width: 50%;
}
#join-img {
  width: 341px;
  height: 196px;
}
.join-btn {
  width: 192px;
  height: 40px;
  padding: 8px 15.8px 8px 16px;
  gap: 0px;
  border-radius: 8px;
  border: none;
  opacity: 0px;
  font-size: 16px;
  line-height: 24px;
  background-color: #e32359;
  color: #ffffff;
}

/* Explore top categories */

.explore__boxes {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}

.icon-box {
  width: 135px;
  height: 112px;
  justify-content: center;
  text-align: center;
  background-color: #97cad114;
}

/* cities */

.cities__boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* width: 100%; */
  column-gap: 20px;
}
.cities__element-boxes {
  text-align: center;
}
.cities__element-boxes img {
  width: 80%;
}

/* works */
.work__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.work__content-container {
  display: flex;
  width: 49%;
  background-color: #97cad114;
  padding-left: 24px;
  padding-top: 32px;
  gap: 16px;
}

.work__text h4,
.work__p {
  margin-bottom: 16px;
}

/* friendships */

.friendships__content {
  display: flex;
  width: 100%;
  gap: 32px;
}
.friendships_text {
}
.friendships__blok {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.friendships__blok img {
  width: 100%;
}

/* footer */

.footer {
  background-color: #212121;
  color: #fff;
}
.footer-container {
  padding: 0 20px;
  font-size: 14px;
}
.footer__heder {
  display: flex;
  border-bottom: 1px solid #707070;
}
.footer__content {
  display: flex;
}
.footer__list {
  width: 33%;
}
.footer__content-logo {
  display: flex;
  justify-content: space-between;
}
.footer__logos {
  display: flex;
  gap: 32px;
}
.footer__content-bottom {
  display: flex;
  gap: 24px;
}
.footer__logos-l {
  display: flex;
  gap: 24px;
}
.footer__logos-l img {
  width: 100%;
}
.mobile {
  display: none;
}

select {
  padding: 16px;
  font-weight: bold;
  border-radius: 20px;
  appearance: none;
  width: 100%;
}
.select {
  position: relative;
  display: flex;
  width: 200px;
}
.select-arrow {
  position: absolute;
  top: 17px;
  right: 14px;
  pointer-events: none;
}

/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
} */

.hero {
}
.hero-container {
  display: flex;
  flex-direction: row;
}
.hero-container > * {
  width: 50%;
}
.hero img {
  width: 100%;
}


@media (max-width: 992px) {
  .header__top {
    flex-wrap: wrap;
  }
  .header__section-left span {
    display: none;
  }
  .header__section-left {
    order: 2;
    width: 100%;
  }
  .header__section-richt {
    width: 100%;
    justify-content: space-between;
  }
  .heder-logo #logo-r {
    display: block;
  }
  .events__grid-container {
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 20px;
    gap: 32px;
    width: 100%; */
  }
    .upcoming__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .header__section-left {
    order: 2;
    width: 100%;
  }
  .hero-container {
    flex-direction: column;
  }
  .hero-container > * {
    width: 100%;
  }

  .events__grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .upcoming__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .join__content {
    flex-direction: column;
  }
  .join__content > * {
    width: 100%;
  }
  .cities__boxes {
    grid-template-columns: repeat(2, 1fr);
  }

}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
    .events__grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* explore */
  .explore__boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .icon-box {
    background-color: #97cad114;
  }
  /* cities */
    .cities__boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  .cities__boxes :last-child {
    display: none;
  }
  .friendships_text .sinse {
    display: none;
  }
  .friendships__content {
    flex-direction: column;
    width: 100%;
  }
  .footer__logos-l {
    display: none;
  }
  .footer__content-bottom {
    display: none;
  }
  .mobile {
    display: block;
  }
}
